### Importando as bibliotecas

In [56]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

import pandas as pd

### Carrega o dataset diabetes

In [50]:
# Load the diabetes dataset
diabetes_X, diabetes_y = datasets.load_diabetes(return_X_y=True)

In [51]:
type(diabetes_X)

numpy.ndarray

In [52]:
diabetes_X.shape

(442, 10)

In [53]:
diabetes_y.shape

(442,)

In [54]:
diabetes_X

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990842, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06832974, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286377, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04687948,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452837, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00421986,  0.00306441]])

### Converte diabetes_X e diabetes_y e para DataFrames

In [58]:
X = pd.DataFrame(data=diabetes_X, columns=['x1', 'x2', 'x3','x4', 'x5', 'x6', 'x7', 'x8','x9', 'x10'])

In [59]:
X.head(10)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
5,-0.092695,-0.044642,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041180,-0.096346
6,-0.045472,0.050680,-0.047163,-0.015999,-0.040096,-0.024800,0.000779,-0.039493,-0.062913,-0.038357
7,0.063504,0.050680,-0.001895,0.066630,0.090620,0.108914,0.022869,0.017703,-0.035817,0.003064
8,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349
9,-0.070900,-0.044642,0.039062,-0.033214,-0.012577,-0.034508,-0.024993,-0.002592,0.067736,-0.013504

In [62]:
y = pd.DataFrame(data=diabetes_y, columns=['y'])

In [63]:
y.head(10)

       y
0  151.0
1   75.0
2  141.0
3  206.0
4  135.0
5   97.0
6  138.0
7   63.0
8  110.0
9  310.0

### Usa apenas uma feature

In [64]:
# Use only one feature
diabetes_X1 = diabetes_X[:, np.newaxis, 2]

In [65]:
diabetes_X1.shape

(442, 1)

### Divide em dados de treinamento e teste

In [ ]:
# Split the data into training/testing sets
diabetes_X_train = diabetes_X[:-20]
diabetes_X_test = diabetes_X[-20:]

In [ ]:
diabetes_X_train.shape

In [ ]:
diabetes_X_test.shape

### Divide os alvos em treinamento e testes

In [ ]:
# Split the targets into training/testing sets
diabetes_y_train = diabetes_y[:-20]
diabetes_y_test = diabetes_y[-20:]

In [ ]:
diabetes_y_train.shape

In [ ]:
diabetes_y_test.shape

### Cria um objeto de Regressão Linear

In [ ]:
# Create linear regression object
regr = linear_model.LinearRegression()

In [ ]:
regr

### Treina o modelo usando os dados de treinamento

In [ ]:
# Train the model using the training sets
regr.fit(diabetes_X_train, diabetes_y_train)

### Cria o modelo de predição usando os dados de testes

In [ ]:
# Make predictions using the testing set
diabetes_y_pred = regr.predict(diabetes_X_test)

### Mostra os coeficientes de regressão, o Mean Squared Error e Coeficiente de determinação

In [ ]:
# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(diabetes_y_test, diabetes_y_pred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(diabetes_y_test, diabetes_y_pred))

### Plota o gráfico de regressão linear

In [ ]:
# Plot outputs
plt.scatter(diabetes_X_test, diabetes_y_test,  color='black')
plt.plot(diabetes_X_test, diabetes_y_pred, color='blue', linewidth=3)

plt.xticks(())
plt.yticks(())

plt.show()